<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.uw.dengz6.motionkey">

    <uses-feature android:name="android:hardware.sensor.accelerometer" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="MotionKey"
            android:windowSoftInputMode="stateVisible"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity"
            >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.uw.dengz6.motionkey.MainActivity"
                />

        </activity>
        
        <service
            android:name=".MotionKeyboard"
            android:permission="android.permission.BIND_INPUT_METHOD"
            >

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method"
                />

        </service>

    </application>

</manifest>